[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
python-dotenv = "*"
streamlit = "*"
pypdf2 = "*"
faiss-cpu = "*"
openai = "*"
huggingface-hub = "*"
instructorembedding = "*"
tiktoken = "*"
sentence-transformers = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.12"
